altgraph==0.17.5
bcrypt==5.0.0
colorama==0.4.6
et_xmlfile==2.0.0
greenlet==3.3.2
numpy==2.4.2
opencv-python==4.13.0.92
openpyxl==3.1.5
packaging==26.0
pefile==2024.8.26
pillow==12.1.1
psycopg2-binary==2.9.11
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.3
PyQt6==6.10.2
PyQt6-Qt6==6.10.2
PyQt6_sip==13.11.0
pywin32-ctypes==0.2.3
pyzbar==0.1.9
qrcode==8.2
QtAwesome==1.4.1
QtPy==2.4.3
setuptools==82.0.1
SQLAlchemy==2.0.48
typing_extensions==4.15.0
